.srrl_rotate object {
	display:none;
}
.srrl_matrix_head_cell_container span {
	display:inline;
	filter:flipv() fliph();
	writing-mode:tb-rl;
	display:block;
	position:absolute;
	left:0;
	bottom:0;
	height:200px;
	width:30px;
	padding-top: 21px;
	padding-right: 4px;
}
.srrl_ie9 {
	display: block;
}
#srrl_ie10_label {
	display: none;
}